---
layout: default
refactor: true
---
{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<div class="container">
  <h1>엔지니어의 일기, 기록장</h1>

  <!-- Add your site or application content here -->
  <p>기존에는 velog, notion 등등 많은 곳에 나눠지면서 기록을 해왔습니다.</p>

  <p>지금부터는 다시 활성화 시킨 블로그에 엔지니어로서 학습해온 과정들을 최대한 쉽게 기록 해보고자 합니다.</p>

  <p>또한, 간단한 취미 생활도 기록 해보고자 해요. 영화, 영어 그리고 운동과 같은 점들도요.</p>

  <p>목표 진행 상황도 다시 적어보고자 합니다.</p>

  <h2>다시 설정해보는 2024년의 목표들</h2>

  <table style="width: 100%; padding: 0 50px;">
    <tr>
      <td>목표</td>
      <td>진행 상황</td>
    </tr>
    <tr>
      <td>좋은 인연이 왔을 때는 도망가지 말자</td>
      <td><progress value="0" max="10"></progress></td>
    </tr>
    <tr>
      <td>kafka(책 진행도를 기준으로)</td>
      <td><progress value="48" max="477"></progress></td>
    </tr>
    <tr>
      <td>elasticsearch(책 진행도를 기준으로)</td>
      <td><progress value="0" max="100"></progress></td>
    </tr>
    <tr>
      <td>1년에 24권을 읽기</td>
      <td><progress value="3" max="24"></progress></td>
    </tr>
    <tr>
      <td>요리를 공부해보자</td>
      <td><progress value="0" max="100"></progress></td>
    </tr>
    <tr>
      <td>sqlp 자격증을 공부해서 연말에 도전하자.</td>
      <td><progress value="0" max="100"></progress></td>
    </tr>
    <tr>
      <td>영어 회화책 2권 읽자</td>
      <td><progress value="0" max="100"></progress></td>
    </tr>
  </table>
</div>

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
