---
layout: default
refactor: true
---
{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<div class="container">
  <h1>우진</h1>

  <h2>블로그 개설 이유</h2>
  <p>
    '교양의 힘'이라는 책을 감명깊게 읽었습니다. 시간이 지나도 이 구절이 기억이 납니다.<br>

    '교양인은 자신이 가지고 있는 지식을 공유하는 사람이다.'<br>
    과거에 비해 공유하기 쉬워졌으므로 교양인의 길을 걸어야 한다고 했습니다.<br>
    <br>

    셀 수 없이 많은 교양인들의 지식 공유와 경험과 조언들을 통해서,<br>
    오늘 날의 제가 엔지니어로서, 성인으로서의 출발을 한 듯합니다.<br>

    제가 도움을 받은 것처럼, 단 한 사람이라도 그렇게 되길 바라며, 꾸준히 쉽게 글을 적어보고자 합니다.
  </p>

  <!-- Add your site or application content here -->

  <h2>다시 돌아보는 24년 목표</h2>

  <table style="width: 100%; padding: 0 50px;">
    <tr>
      <td>목표</td>
      <td>진행 상황</td>
    </tr>
    <tr>
      <td>인연의 소중함을 좀 깨닫기</td>
      <td><progress value="0" max="10"></progress></td>
    </tr>
    <tr>
      <td>kafka(책 진행도를 기준으로)</td>
      <td><progress value="48" max="477"></progress></td>
    </tr>
    <tr>
      <td>elasticsearch(책 진행도를 기준으로)</td>
      <td><progress value="0" max="100"></progress></td>
    </tr>
    <tr>
      <td>1년에 24권을 읽기</td>
      <td><progress value="4" max="24"></progress></td>
    </tr>
    <tr>
      <td>요리를 공부해보자</td>
      <td><progress value="0" max="100"></progress></td>
    </tr>
    <tr>
      <td>sqlp 자격증을 공부해서 연말에 도전하자.</td>
      <td><progress value="0" max="100"></progress></td>
    </tr>
    <tr>
      <td>영어 회화책 2권 읽자</td>
      <td><progress value="0" max="100"></progress></td>
    </tr>
  </table>
</div>

{% comment %}
  {% if paginator.total_pages > 1 %}
    {% include post-paginator.html %}
  {% endif %}
{% endcomment %}
